.button-container {
  width: 84%;
  background-color:rgb(245, 210, 12) ;
  font-size: 14spx;
  color: rgb(17, 16, 16);
  font-weight: Medium;
  font-family: "Avenir Next";
  margin-top:14px;
  height:40px;
  border-radius:8px;
  border: 0px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border: 1px solid color rgb(245, 210, 12);
}

.main {
  background-color:rgb(245, 210, 12);
  color: white;
}
.outline {
  background-color: bisque;
  color: rgb(245, 210, 12);


}

   

