.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background-color: rgba( 0, 0, 0, 0.5);  
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 23vw;
  height: 100vh;  
  background-color: white;
  align-items: center;
  padding-top: 16px;
  padding-right:24px;
  padding-left: 24px;   
    
}
.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  margin-bottom: 24px;
}

.modal-close-button {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 0px;
  background-image: url("../../../public/images/close.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;  
}

.modal-button-container {
  display: flex;
  gap: 12px; /* espaçamento entre os botões */
  justify-content: center; /* alinha ao centro */
  margin-top:20px;
}
.button-container {
  padding: 10px 16px;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  min-width: 220px;
  
}

.modal-save-button {
  flex: 1;
  margin-top: auto;             
  background-color: rgb(245, 210, 12);
  height: 35px;
  width: 20px;
  border-radius: 7px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align-self: center; 
  gap: 12px;
       
}

.main {
  background-color: rgb(245, 210, 12);
  color: black;
}

.outline {
  background-color: transparent;
  border: 2px solid rgb(245, 210, 12);
  color: rgb(10, 10, 10);
}

.button-icon {
  width: 16px;
  height: 16px;
  margin-right: 0px;
  
}

@media screen and (max-width:830px) {
 .modal-content {
  width: 64vw;
 }
 .button-container {
  min-width: 225px;
 }  
}


@media screen and (max-width:420px) {
 .modal-content {
  width: 100vw;
 }
 .button-container {
  min-width: 133px;
 }  
}



